# Number To Word Converter
(Indian format)

In [1]:
def convert_number_to_words(number):
    ones = ["", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten",
            "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen"]
    tens = ["", "", "Twenty", "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety"]

    def convert_below_thousand(n):
        if n < 20:
            return ones[n]
        elif n < 100:
            return tens[n // 10] + (" " + ones[n % 10] if n % 10 != 0 else "")
        else:
            return ones[n // 100] + " Hundred" + (" And " + convert_below_thousand(n % 100) if n % 100 != 0 else "")

    if number == 0:
        return "Zero"

    words = ""
    crore = number // 10000000
    lakh = (number // 100000) % 100
    thousand = (number // 1000) % 100
    remaining = number % 1000

    if crore > 0:
        words += convert_below_thousand(crore) + " Crore"
        if lakh > 0 or thousand > 0 or remaining > 0:
            words += " "
    if lakh > 0:
        words += convert_below_thousand(lakh) + " Lakh"
        if thousand > 0 or remaining > 0:
            words += " "
    if thousand > 0:
        words += convert_below_thousand(thousand) + " Thousand"
        if remaining > 0:
            words += " "
    if remaining > 0:
        words += convert_below_thousand(remaining)

    return words


if __name__ == "__main__":
    number = int(input("Enter a number up to 1 crore: "))
    if number > 10000000:
        print("Number out of range.")
    else:
        words = convert_number_to_words(number)
        print(words + " Rupees Only")

Enter a number up to 1 crore: 10
Ten Rupees Only

In [4]:
convert_number_to_words(155)

'One Hundred And Fifty Five'

In [5]:
convert_number_to_words(1234)

'One Thousand Two Hundred And Thirty Four'

In [6]:
convert_number_to_words(245968)

'Two Lakh Forty Five Thousand Nine Hundred And Sixty Eight'

In [9]:
convert_number_to_words(40000000)

'Four Crore'

In [10]:
convert_number_to_words(43252312)

'Four Crore Thirty Two Lakh Fifty Two Thousand Three Hundred And Twelve'